<html lang="fr-FR"><head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>Details • Groupie-tracker</title>
  <meta name="description" content="Groupie-tracker">
  
  
  <link rel="stylesheet" type="text/css" href="/styles/style.css ">
  </head>
  
  </head>
  <body class="home ">
  
  <header id="main-header">
  
    <div class="header-c">
      <h1>Groupie-Tracker Details  </h1>
    
    </div>
  </header>
  
  <div class="h-100">
    <div class="container mx-auto">
       
        <div class="card-details">
            <div class="image-section">
                <img src="{{ .Artists.Image  }}" class="product-image" alt="product-photo">
            </div>   
        </div>
        <div class="product-section-detail">
             
          <h5 class="product-title">{{ .Artists.Name }}</h5>
          <p class="product-description">CreationDate:{{ .Artists.Creationdate }}</p>
          <p class="product-price">FirstAlbum :{{ .Artists.Firstalbum }}</p>
  
          <p class="membre-liste">Listes des Membres</p>
          {{ range $key, $members := .Artists.Members  }}
  
          <span class="membre-detail">{{  $members }}</span>
          {{ end }}
  
          <p class="membre-liste">Lieux de leurs derniers concerts et/ou de leurs prochains concerts</p>
          {{ range $key, $location := .Locations.Locations  }}
  
          <span class="membre-detail" class="product-title">{{  $location }}</span>
          {{ end }}
          <p class="membre-liste">Dernières et/ou prochaines dates de concert.</p>
  
          {{ range $key, $date := .Date.Dates  }}
  
          <span class="membre-detail">{{  $date }}</span>
          {{ end }}
  
          <p class="membre-liste">Relation entre la date et le lieux</p> 

          {{ range $key, $relation:= .Relations.DatesLocations }}
  
          <span class="membre-detail">{{  $key }}:{{ $relation }}</span>
          {{ end }}
          
      </div>
   
    </div>
    <button><a href="/" style="font-size: 20px">page d'acceuil</a></button>
  </div>
  <footer id="footer">
  
    <div class="mention-p">
      © Copyright DigiFemmes academy
    </div>
  </footer>
  
  </body>
  </html>