<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            background: #9026ce;
            color: rgb(143, 196, 83);
        }
    </style>
</head>
<div class="col-lg-4 p-3 p-lg-5 pt-lg-2 shadow-lg rounded-3">
    <p class="text">Veuillez la police (Font):</p>
    <input type="radio" id="html" name="banniere" value="standard" checked> 
    <label for="html" class="text">Standard</label><br>
    <input type="radio" id="html" name="banniere" value="shadow">
    <label for="html" class="text">Shadow</label><br>
    <input type="radio" id="html" name="banniere" value="thinkertoy">
    <label for="html" class="text">Thinkertoy</label><br>
  </div>

<body>
    <h1>A DIGIFEMME, WOMEN CAN DO MORE</h1>
    
</body>
</html>